[2020-04-15 15:02] mpascariu opened #1 "U.K. COVID data"
Great to find this. Exquisite work!

Everybody is talking about China but I am still amazed how difficult is to find detailed info for the US and UK.

Because I did not find UK on the list I will add here what I know about it:
https://www.ons.gov.uk/peoplepopulationandcommunity/birthsdeathsandmarriages/deaths/datasets/weeklyprovisionalfiguresondeathsregisteredinenglandandwales
See the April 3 upda

[2020-04-15 15:03] mpascariu commented on #1
https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/878916/Weekly_all_cause_mortality_surveillance_week_15_2020_report.pdf

[2020-04-15 15:05] timriffe commented on #1
Thank you, UK, England and Wales, Northern Ireland, and Scotland are all in
the works! Keep the tips coming in!

On Wed, Apr 15, 2020 at 5:03 PM Marius D. Pascariu <notifications@github.com>
wrote:

[2020-04-16 11:51] mpascariu opened #2 "Offset Data source"
I am maintain a similar database for SCOR but with significantly less ambitions. A good source of offset data it the WPP2019 that can be found very convenient in the `{wpp2019}` package. See `popM` and `popF` to get 5y-age data.

I am using the last available `HMD` exposures and deaths when I what to determine the excess in mortality during the covid epidemic.

[2020-04-16 12:00] timriffe commented on #2
Thanks Marius, at the moment we're provisionally using the latest HMD data as offsets where applicable, and hunting down other offsets where required. For China we've used WPP2019 data, from the website, though, to get a 2020 estimate rather than a mid-interval estimate. For other places (NYC, Washington state, Taiwan) we use official 2020 projections. And we have many offsets yet to track down, b

[2020-04-16 12:13] mpascariu commented on #2
For the US states the US Census data seems to be fine:
https://data.census.gov/cedsci/table?table=DP05&tid=ACSDP1Y2017.DP05&lastDisplayedRow=29&vintage=2017&layer=state&cid=DP05_0001E&hidePreview=true&g=0400000US36&moe=false

Not sure if there is a fast way to read it in R.

[2020-04-16 12:17] timriffe commented on #2
This looks promising, haven't given it a whirl yet:
https://cran.r-project.org/web/packages/tidycensus/tidycensus.pdf

On Thu, Apr 16, 2020 at 2:13 PM Marius D. Pascariu <notifications@github.com>
wrote:

[2020-04-16 12:45] mpascariu opened #3 "ungroup::pclm estimates"
The `{ungroup}` package is great at ungrouping, however I think we should pay attention to the resulted CFR curves.

In my tests using the New York data where I harmonized the age-bands (10y groups) I noticed that the CFR at young ages is overestimated compared with the values for other regions where no ungrouppig of the data was applied (ITA, ESP, KOR, NLD, ...). This is due to the fact that in e

[2020-04-16 12:50] timriffe commented on #3
Silvia is consulting with us, and we'll also examine this issue and pass on
lessons, thanks for pointing it out.

On Thu, Apr 16, 2020 at 2:45 PM Marius D. Pascariu <notifications@github.com>
wrote:

[2020-04-16 14:16] mpascariu commented on #3
![Capture](https://user-images.githubusercontent.com/6264977/79467040-a0d52c80-7ffd-11ea-8022-a567a6c96c41.PNG)

[2020-04-16 14:18] mpascariu commented on #3
![image](https://user-images.githubusercontent.com/6264977/79467206-d4b05200-7ffd-11ea-979b-893acf2c6ee2.png)

[2020-04-16 21:05] timriffe commented on #3
It's tough to know re NYC. Can see if they have a once-off epi report with a more detailed table to see how that age range stacks up. The intervals are so wide we don't have much to go on. I'm using an NYC single age Jan 1 2020 projection from Cornell as offset for NYC. You?

[2020-04-17 06:50] mpascariu commented on #3
Exactly.

I am using the US Census data.

The thing is that i am trying to determine an IFR (true CFR) using a quick-and-dirty method. For all the regions the results are just beautiful only NY looks more worse, pushing the upper bound of my confidence.

[2020-04-17 09:37] mpascariu opened #4 "Danish females"
Clearly this is a project that I want in. So I am continuing to post my observations.

I couldn't find the source for the Danish data or the original data in `inputDB.csv`. Can we have a database with sources? Also would be nice to indicate in the output the degree to which the data has been modeled and the perceived data quality (good, bad, mediocre...).

Now, looking at the cfr in the Danish fem

[2020-04-17 09:43] timriffe commented on #4
Denmark is temporarily removed as there were some errors in data entry that
will be fixed. Will send source later. Comprehensive sources list is in
construction at the moment. Will get back to you soon. I also have noticed
a hump like that in old ages in other populations FWIF, not sure yet

On Fri, Apr 17, 2020 at 11:37 AM Marius D. Pascariu <
notifications@github.com> wrote:

[2020-04-17 09:55] mpascariu commented on #4
I am attaching here some data that I collected from public places. You have most of it except maybe some early Korean records.
[CFR-Trends_by_Age_20200415.xlsx](https://github.com/timriffe/covid_age/files/4492157/CFR-Trends_by_Age_20200415.xlsx)

[2020-04-17 11:43] mpascariu commented on #4
The most recent Spanish female data also looks a bit funny at older ages.

[2020-04-18 05:39] mpascariu opened #5 "Spanish Data"
I did a comparison between the Spanish data I collected and what I see in the `inputDB.csv` .
The sources appear to be the same however at certain points in time consistent differences across multiple ages can be observed. E.g.: March 29, 31 and April 13.

This is related to #4.

Also, it is not clear to me what is reported when `Age == UNK`. Maybe unknown? For Spain very large numbers can be seen

[2020-04-20 09:50] mpascariu opened #6 "Italian Output"
Checking the Italian output i can see:

[code]

When `Age == 10` the number of cases is 0 (unlikely!). I think the `cases` here are estimated based on the death records, information which is taken from daily  summarized [info-graphics](https://www.epicentro.iss.it/en/coronavirus/bollettino/Infografica_15aprile%20ENG.pdf).

However, note that on a weekly basis complete information by age and sex is

[2020-04-20 10:04] timriffe commented on #6
The issue is that case is inferred from deaths and rounded case fatality.
We need to find a way to reconcile with the Bollettino data, tbd.

On Mon, Apr 20, 2020 at 11:50 AM Marius D. Pascariu <
notifications@github.com> wrote:

[2020-04-20 15:07] mpascariu opened #7 "Not a number in Germany data"
In the output for Germany I can see:

[code]

Is there a reason why I get `NaN` instead ofa number or `NA`'s for Germany? The data appears to be available?

[2020-04-20 15:14] timriffe commented on #7
Should be fixed next full build. Those are most likely 0s (division by 0)

On Mon, Apr 20, 2020 at 5:07 PM Marius D. Pascariu <notifications@github.com>
wrote:

[2020-04-20 15:19] timriffe commented on #7
Same reason, now fixed, build forthcoming

On Mon, Apr 20, 2020 at 5:15 PM Marius D. Pascariu <notifications@github.com>
wrote:

[2020-04-22 07:25] mpascariu opened #8 "US Cook County mind-blowing data"
... and not properly anonymized i'd say, can be found [here](https://datacatalog.cookcountyil.gov/Public-Safety/Medical-Examiner-Case-Archive-COVID-19-Related-Dea/3trz-enys).

I don't know if you are aware of this, but you can find seriatim death data (including COVID related). This might be a sign that more high quality data is coming from the US.

However, if you know somebody close to the sourc

[2020-04-24 07:24] xiaomu120413 commented on #7
i have a question, Why sex are three genders??? What gender does b represent？

[2020-04-24 07:38] timriffe commented on #7
“b” is for both sexes combined, the total.

On Fri, Apr 24, 2020 at 9:24 AM xiaomu120413 <notifications@github.com>
wrote:

----------
This mail has been sent through the MPI for Demographic Research.  Should you receive a mail that is apparently from a MPI user without this text displayed, then the address has most likely been faked. If you are uncertain about the validity of this message, please

[2020-04-24 12:55] #7 closed

[2020-04-25 21:22] timriffe commented on #5
This will be cleared up over the course of this week. Previously we did an indirect calculation in the input spreadsheet to infer cases and deaths of unknown age. From table 1 we took the total cases and deaths. UNK was calculated as the difference between the table 1 total and the marginal sum from table 2. To get UNK for the sexes we took the observed sex ratio as valid for the total. If one doe

[2020-04-25 21:22] #5 closed

[2020-04-25 21:37] timriffe commented on #8
You are right, that's for sure revealing too much. I think we will aim to add Chicago, thanks for pointing this out

[2020-04-25 21:37] #8 closed

[2020-04-25 22:00] #1 closed

[2020-05-06 13:18] vlasvlasvlas opened #17 "Argentina Data"
hi! we're keeping uptodate an open data Argentina repo over here: https://github.com/SistemasMapache/Covid19arData

[2020-05-06 14:40] cimentadaj opened #18 "Add selectize to shiny"
Putting it here for me to remember. Add selectize to shiny for improved search.

[2020-05-11 09:47] mpascariu opened #20 "Output consistency checks required!"
The harmonization process should maintain the consistency between sexes and both sex.

Below I am looking at the data in `Output_10.csv` and I can see that the sum of the values for `m` and `f` populations are far away from the count data in `b` by a large margin. Somewhere along the way from `InputDB` to `Output` must be a much bigger bug hidden in the lines.

[code]

[2020-05-11 21:08] timriffe commented on #20
a teeny tiny bug. `rescale_sexes()` wasn't being triggered properly by `do_we_rescale_sexes()`. Now fixed, re-running processes. You're right, this is a consistency check to run after a processing run.

This constraint happens before PCLM, but I guess it could be lost if age groups are split. Presently, after PCLM there is no re-constraining of this kind. Should we add it?

[2020-05-12 07:23] mpascariu commented on #20
Excellent! It looks much better.
In the example from above there still are some minor differences especially in the `90` and `100`  age classes.

[code]

So far we have written tests for the input data. I think it will not hurt if we can run them over the final output as well.

I can take care of this in a separate script.

[2020-05-13 21:43] timriffe commented on #20
Great, I'll close this issue. FYI, `f` and `m` are forced to sum to `b` now after splitting. Previously they were not. So, moving forward I don't expect this flag to be thrown.

[2020-05-13 21:43] #20 closed

[2020-05-13 21:46] timriffe commented on #2
I found single age population estimates for US states with a reference date of July 1, 2018 [https://www.census.gov/data/tables/time-series/demo/popest/2010s-state-detail.html](https://www.census.gov/data/tables/time-series/demo/popest/2010s-state-detail.html), so pretty close. Sometime this year they will release 2020 estimates (it's a census year after all), so these can be replaced moving forwa

[2020-05-13 21:46] #2 closed

[2020-05-17 22:20] vzarulli opened #21 "Denmark strange patterns"
Deaths: As the deaths reported in the output are the cumulative ones over time, they cannot be decreasing. The total number of deaths increases day by day, as expected. But if I break them down by age, some age groups are decreasing in some days. Please see below.
![DK_deaths_17052020](https://user-images.githubusercontent.com/65513286/82161375-772d5080-989c-11ea-84dd-c833bd53f476.png)

Sex ratio

[2020-05-18 22:12] timriffe opened #22 "data availability tweaks, coverage"
Add another tab, just one row per country `(Region == "All")`, with another column indicating the most recent date.

Add a coverage graphic: Cases and Deaths as a fraction of totals from worldometers or JHU.

[2020-05-18 22:35] timriffe commented on #17
Thanks for the tip! Argentina is just being prepped to enter here, so will be good to compare.

[2020-05-18 22:35] #17 closed

[2020-05-22 20:47] vzarulli opened #23 "Brazil"
![Brazil_deaths](https://user-images.githubusercontent.com/65513286/82708155-e1b80500-9c7d-11ea-8a45-965bc9652929.png)
Brazil deaths data have huge oscillations, especially for females.
![Brazil_sr_deaths](https://user-images.githubusercontent.com/65513286/82708271-204dbf80-9c7e-11ea-8096-79098f3dadde.png)
Sex ratio (m/f) of the deaths from age 45 onwards has a sudden drop after the first few days

[2020-05-22 20:54] vzarulli opened #24 "Negative increase of cumulative deaths and cases"
Often the series of Cases or Deaths, which should be a non-decreasing function, show a decrease compared to the day before. I wonder if this can have something to do with the smoothing (perhaps the smoothing goes by one dimension at a time - either age or date - instead of both, and this somehow breaks the continuity of the increase? Just guessing...sorry if it is completely irrelevant.)

This is

[2020-05-23 05:53] timriffe commented on #23
For the first figure, some of this will be due to the 1d PCLM, as you mention. To find any that are not due to pclm, just do the same thing on output in 10-year age groups. The Brazil data is collected in 10 year age groups, so any fluctuations there should be data artifacts.

For the second figure, that early drop is probably due to small counts in the early days. I replicated the calcs for that

[2020-06-01 12:06] k-goncharova opened #25 "Your dataset in CoronaWhy Dataverse"
Hello,

Your dataset was added to CoronaWhy (https://www.coronawhy.org/) Data Lake on Dataverse  as a piece of common COVID-19 dataframe https://datasets.coronawhy.org/dataset.xhtml?persistentId=doi:10.5072/FK2/JWULOO.

Would you be willing to help with maintenance of your dataset in Dataverse, e.g. adding the relevant metadata and keeping the dataset up-to-date? That will help to make the dataset

[2020-06-03 11:53] timriffe commented on #25
Thanks for reaching out, we could maintain the entry, yes. Some guidance would be helpful to get started. Please send an email re that.

[2020-06-03 11:53] #25 closed

[2020-06-03 11:54] #22 closed

[2020-06-04 04:02] RonRichman opened #26 "South Africa"
Age specific deaths available for SA on seemingly daily basis:

https://twitter.com/DrZweliMkhize/status/1268261539418701825

How can we help to get these into the database?

[2020-06-04 04:32] timriffe commented on #26
Thanks Ronald!
I’m adding in Emmanuel Olamijuwon, who has been maintaining our SA series.
Best wishes,
Tim

On Thu, Jun 4, 2020 at 6:03 AM Ronald Richman <notifications@github.com>
wrote:

----------
This mail has been sent through the MPI for Demographic Research.  Should you receive a mail that is apparently from a MPI user without this text displayed, then the address has most likely been faked

[2020-06-04 05:43] muntasir-masum commented on #25
I would be happy to help. Yes, I am looking forward to the instructions and guidelines as well.

[2020-06-04 05:53] timriffe commented on #26
Thank you, Tim and Prof. Richman.

I will review and capture accordingly.

Regards

Emmanuel.

From: Tim Riffe <riffe@demogr.mpg.de>
Sent: 04 June 2020 06:33
To: Emmanuel Olamijuwon <emmanuel@olamijuwon.com>; timriffe/covid_age <reply@reply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>; timriffe/covid_age <covid_age@noreply.github.com>
Subject: Re: [timriffe/covid_age] South Africa (#

[2020-06-04 06:15] RonRichman commented on #26
Thanks Emmanuel and Tim!

Regards
Ron

[2020-06-04 06:15] #26 closed

[2020-06-04 11:54] k-goncharova commented on #25
Hello,

Thank you for your response and willingness to contribute. Please register
in CoronaWhy Dataverse https://datasets.coronawhy.org/ and I'll give you
the necessary permissions for editing your dataset. Then it would be also
helpful, if you could add metadata (description, keywords) to your dataset
in Dataverse.

Kira Goncharova

On Thu, 4 Jun 2020 at 08:43, Muntasir Masum <notifications@gith

[2020-06-05 17:18] muntasir-masum commented on #25
Thank you. I have signed up. I will work on the dataset.

[2020-06-05 19:32] k-goncharova commented on #25
Thank you! I've just given you the permissions for editing the dataset. Feel free to contact me, if you might need any help with the update.

[2020-06-06 20:33] vzarulli commented on #23
Thank you. The series were mixed indeed. Looking at them separately everything seems alright.
Also, with 10 years age groups Brazil looks better.

[2020-06-09 12:30] #23 closed

[2020-06-09 12:34] timriffe commented on #3
An update: soe time ago I switched to setting `lambda` to `1e5` for all subsets. This benefits older ages, but lower `lambda` seems better for young ages. AIC optimized `lambda` is just somewhere in the middle. We've yet to do a large sample of AIC tests to get a distribution of optimal lambdas.

Re offsets: we've gather a great many 2020 offsets (official estimates or projections), but have yet t

[2020-06-10 08:19] vzarulli commented on #23
Hi Tim,
Last weekend I looked at about half of the countries and now that I’m taking into account also the regions they all looked quite fine except for the age 100+. In that case, deaths and
Cases are often either decreasing at some point or somehow bouncy. It is not the case in all the countries but very often yes..
As soon as I can check the other half of the countries, I can tell you the exact

[2020-06-11 00:18] reeshmabijosh opened #27 "Metadata Update"
Hello,
Your dataset was added to CoronaWhy (https://www.coronawhy.org/) Data Lake on Dataverse as a piece of common COVID-19 data frame http://datasets.coronawhy.org/dataset.xhtml?persistentId=doi:10.5072/FK2/JWULOO
Would you be willing to help with the maintenance of your dataset in Dataverse, e.g. adding the relevant metadata and keeping the dataset up-to-date? That will help to make the dataset

[2020-06-11 08:05] timriffe commented on #27
Thanks, yes, we've signed up at CoronaWhy and will get around to updating the entry on a monthly basis

[2020-06-11 08:05] #27 closed

[2020-07-08 03:23] vlasvlasvlas commented on #17
Hi Tim , oki thanks :)

[2020-07-19 08:55] timriffe commented on #21
The convergence looks to have been a data entry error, amended some time ago, sorry for the late response to that one:
[code]
![image](https://user-images.githubusercontent.com/904603/87871148-5b365000-c9ae-11ea-911d-fd87047f4020.png)

[2020-07-19 08:55] #21 closed

[2020-08-11 10:28] cimentadaj opened #31 "Things to do for COVERAGEDB"
- [ ] Why can't we upload files to the OSF repo through `osfr`? It seems that if we create the OSF project with `osf_create_project` we can upload and overwrite files but with the current OSF repo, we're not allowed to upload anything. See https://github.com/ropensci/osfr/issues/126

- [ ] Get a notification when `osfr` uploads the files every day.

- [ ] Implement an automatic twitter bot that an

[2020-08-17 15:06] timriffe opened #32 "zip files"
`inputDB.csv`, `Output_5.csv` and `Output_10.csv` should all be zipped prior to OSF upload, ASAP.
then it works just the same `readr::read_csv("inputDB.zip")`

[2020-08-17 17:27] bradknox opened #33 "Texas total cases by age is off from total cases by ~10x"
As of August 13, the total case count for Texas _when added up by age groups_ in this dataset is 43,409. The "TOT" line for all ages is 513,575, which is in line with numbers I see elsewhere.

I'm guessing that Texas simply didn't report ages for more than 90% of cases, even though it is reporting them for all or nearly all of deaths. Does the discrepancy above come from the state's reporting or i

[2020-08-17 17:37] timriffe commented on #33
Thanks @bradknox, this is the right place to report such problems. In this case we're aware of it. On July 23 I sent the following email to Texas DSHS:

They did not respond, but I still think that this is what's going on. I don't really have a solution either. This is an extreme such case in this database. Any ideas how to best flag such data for users?

[2020-08-25 20:40] timriffe commented on #32
done!

[2020-08-25 20:40] #32 closed

[2020-08-25 20:42] timriffe commented on #33
We will include such information in a metadata field for general observations I think, anyway, let's hope they come through will a full time series so we can swap out the whole series, you never know.

[2020-08-25 20:42] #33 closed

[2020-08-27 16:05] lilianmarey opened #38 "Texas data"
Hello, I have been working on the dataset (I'm conding a Dash application n Python to visualize the database).
I noticed that data from Texas was false from 2020/07/29 (values are too high).
![Capture](https://user-images.githubusercontent.com/68290011/91466798-ecdb8c00-e88f-11ea-9487-b529563462ed.PNG)

[2020-08-28 05:19] timriffe commented on #38
Thanks for reporting this. I've fixed the automatic capture script for Texas, which had a tiny but high leverage bug. I've gone ahead and made another bigger change to this series- moving forward total cases and deaths will be revised in retrospect with each update. The output should be corrected in about 24 hours.
I'll close this issue after verifying the output tomorrow.
Will be interested to se

[2020-08-28 14:14] mpascariu opened #39 "US Ohio data"
I can see that in `Output_10.csv` we have recorded cases as early as January 2, 2020. Supposedly, the virus was present in China only at that time.

Or a 2D smoothing is used at this stage to reconstruct the early records?

[2020-08-28 14:33] mpascariu opened #40 "US Virginia Data"
In `Output_10.csv` the number of confirmed cases and deaths in Virginia appear exceptionally high.  We can see more than 7 mil cases.

According to the US Census data the entire state has a mid-2019 population of 4,248,373.

[code]

[2020-08-28 14:39] mpascariu commented on #40
Maybe the data at the `totals` level could be periodically crosschecked against the JHU record (allowing for a reasonable deviance of course).

[2020-08-28 14:44] timriffe commented on #40
seems to be a likely column id error. I'll look into this and fix. And yes,
good call on the external validity checks.

On Fri, Aug 28, 2020 at 4:39 PM Marius D. Pascariu <notifications@github.com>
wrote:

[2020-08-28 14:54] timriffe commented on #39
It's not 2D smoothing (yet!).

Here's a glimpse at those early onset cases from the Ohio source data:

[code]

I'm not sure how stable these first cases are though. The Ohio series is tabulated from this finer grained data. An option would be to start the series after a certain number of cases (say 20?) have been accumulated.

This also happens in some other COVerAGE-DB series, such as Ontario.

[2020-08-28 15:03] mpascariu commented on #39
I see. I was not aware of this. However, if the original source reports them... could be true.
By any chance, these are not the cases transferred from the Diamond Princess cruise ship in mid January?

[2020-08-28 15:05] timriffe commented on #40
Got it, it seems the source data may have switched from *new* cases and deaths to *cumulative* cases and deaths some time recently. With an automatic external check in place this would have been picked up automatically. Corrected data should appear in the output within 24 hours. I will close this issue after verifying that this is so.

Thank you for reporting as usual!

[2020-08-28 15:20] timriffe commented on #39
it's plausible: https://www.newsbreak.com/ohio/cleveland/news/1507242927701/northeast-ohio-couple-stays-positive-aboard-quarantined-cruise-ship

[2020-08-29 06:58] #39 closed

[2020-08-29 06:59] timriffe commented on #38
This is now fixed, thanks again for reporting, and please send a link to your dash when you're ready to!

[2020-08-29 06:59] #38 closed

[2020-08-29 15:41] lilianmarey commented on #38
You are welcome !
I have been working with Marius Pascariu during an internship in August.
My app aims at illustrating the database with several visualization tools (charts, histograms, maps), and also computing relevant metrics from native ones.
I will be glad to share it with you, the thing is the app wont probably be available by a public link (it will be on Scor's servers, the company where I

[2020-08-30 06:30] #40 closed

[2020-08-31 08:37] mpascariu opened #41 "Data availability for France"
Hi Tim,
Could you please let me know the reason why the availability of French data stops in July? Can we help you somehow to bring it up to date? Thanks a lot.

[2020-08-31 08:53] timriffe commented on #41
From the collector:

So I guess sit tight.

[2020-08-31 08:54] mpascariu commented on #41
Great! Thanks.

[2020-08-31 12:57] mpascariu opened #42 "US Wisconsin data - trend break"
Hi Tim,

Looking at the Wisconsin data I can see a trend break between end of April and beginning of June. The data in this period seems to belong to another region. Considering that we are looking at cumulative data this look wrong to me.

Here's a quick way to visualize it:
[code]

![Rplot](https://user-images.githubusercontent.com/6264977/91721928-d5571880-eb99-11ea-9ef6-ffc3e6c1e3e2.png)

Than

[2020-08-31 12:59] mpascariu commented on #42
Looking again at the figure I can see additional (more minor) trend breaks before and after the May-June interval.

[2020-08-31 13:15] timriffe commented on #42
It's a date handling issue, I'm on it, thanks for reporting again!

[2020-08-31 13:27] timriffe commented on #42
Fixed now! The amended series will appear in the output starting tomorrow. I'll close this issue after verifying. Please do keep reporting!

[2020-09-01 09:28] mpascariu opened #43 "US New Jersey Data"
In `Output_10.csv` at the state of New Jersey i can see several weeks in a row with the same records, day after day. Does this indicate zero new cases in the period/region or the lack of new data?

I did this:
[code]

[2020-09-01 09:45] timriffe commented on #43
I spot checked the screenshots of the dashboard where the data were captured. Indeed, in early August for a series of days (range TBD) the "last update" note was stuck at July 30. We will amend this in the input data. In effect, it will turn out to be a calendar gap in the data. This is among the dashboards that are manually captured, easily understandable human error.

Although one could interpol

[2020-09-01 11:00] mpascariu commented on #43
In my analyses I am also applying linear interpolation if the gap of missing data is small (1 or 2 time intervals). Since I am mostly working with weekly data now that means 1 or 2 weeks. However if the gap is larger different kind or interpolations might be more appropriate provided that there is sufficient data before AND after the gap. As a rule we could define <sufficient> as "twice the number

[2020-09-22 13:34] mpascariu opened #45 "Typo: The name of the state Louisiana"
In `Output_10.csv` one can see that the name of the state is misspelled `Lousiana` instead of `Louisiana`.
I did not check the other output or input files.

[2020-09-22 14:02] mpascariu commented on #41
We can see that the death records is up to date, however the `cases` statistic is stuck in July. Is there a reason for this?

[2020-09-22 14:05] timriffe commented on #45
Thanks for noting, should be fixed on OSF soon

[2020-09-22 14:05] #45 closed

[2020-09-22 16:02] timriffe commented on #41
When the collector updated there was no new data for cases available at that time. Now that person is training others to take over the work, and I understand they are evaluating an alternative source.

[2020-09-28 09:14] Nicefyy commented on #6
Hello，why is there a decimal in the death toll?

[2020-09-28 09:21] timriffe commented on #6
There are 3 things (that I can think of right now) that can lead to
decimals in estimated/harmonized counts.

1. counts of unknown age are redistributed proportionally to counts of
known age
2. if marginal totals are captured, then age-specific counts are rescaled
to sum properly
3. when ages are split from 10 to 5-year age groups a statistical model is
used

We round output to one decimal place r

[2020-10-09 13:39] mpascariu opened #48 "Data availability for Germany"
Dear COVerAGE team,
I've noticed that the data inputs and outputs for Germany have stopped in August. Could we please have an update on this?

Suggestion:

I think it would be a good idea to have a database news section somewhere where important updates and developments are shared (maybe in 1 sentence).  Also we could produce a "data-availability table" where for each region to have specified the

[2020-10-28 15:16] mwiry opened #50 "Data Duplication in US Subset"
Hi all,

Today, when working with the US subset of the data, I noticed some duplication but with differing values. Specifically, for any given Region, Sex, and Age I was expecting there to be a single observation; however, this is not the case. For example, Arizona on 9/26/20 for Sex equal to b and Age equal to 0 has two observations with differing case, test, and death values - the lines from the

[2020-10-28 21:30] timriffe commented on #50
Hi @mwiry
Thanks for your message. In this case we collect from two sources, but you can only detect it in the `Code` variable, in a strange way, sorry about this. `"US_AZ_*"` comes from a state source, whereas `"US_CDC_AZ"` comes from the CDC (just deaths). Sometime soon we'll drop the date component of the `Code` variable.

[2020-10-28 21:30] #50 closed

[2020-10-28 21:43] timriffe commented on #48
yikes, sorry it took so long, there was a glitch with the automatic updates that made it look they were happening to us but then they weren't making it through the chain. Germany (and the Länder) are now updated, and should be updated daily now. We will figure out a system so we can catch these things earlier. If you ever get a moment, would be nice to chat for your perspective on our processing r

[2020-10-28 21:43] #48 closed

[2020-11-03 15:45] mpascariu commented on #48
Thanks Tim. Yes, let's organize a call soon, it would be great to be updated on what is happening behind the stage and see how can I help next.

[2020-11-16 13:00] timriffe opened #53 "Availability dash, add date range"
Note to include both earliest and most recent dates in the availability dashboard.

[2020-12-09 09:34] mpascariu opened #61 "observed jumps in Maine cases"
Hi @timriffe,

I am looking at the confirmed cases for Maine state and I see periods with significant jumps. I think it is an isolated event.
This might need some attention.

[code]

![Rplot](https://user-images.githubusercontent.com/6264977/101611042-4b74e200-3a09-11eb-814b-8846c9cd016c.png)

Looking at weekly no of cases per 100k inhabitants we would see this:

![C19_Cases_dev_Maine_20201209](ht

[2020-12-09 10:11] mpascariu commented on #61
In fact it is not an isolated event. I can see this in California and Florida too.

[2020-12-09 10:15] mpascariu commented on #61
Is it possible to be a date formatting issue?

[2020-12-10 08:37] timriffe commented on #61
Thanks for reporting Marius, your observations have been reported to the respective collectors. Date formatting is a possibility. Will let you know as soon as it's fixed.

[2020-12-10 10:41] mpascariu commented on #61
Thanks Tim!
Here's a view over all US states:

[code]

![chart](https://user-images.githubusercontent.com/6264977/101761538-8eec5080-3adc-11eb-984e-175b4ade3994.png)

[2020-12-10 11:09] timriffe commented on #61
OK, this is a good diagnostic, going through one by one. Making a checklist.

- [x] Arizona (0 and 6 in wrong order for age 20, Oct 3 caused it, now fixed)
- [ ] California
- [ ] Florida
- [ ] Idaho
- [ ] Iowa
- [ ] Louisiana
- [ ] Maine
- [ ] NYC
- [ ] Vermont

[2020-12-29 16:21] eshom opened #66 "Null bytes in the first two lines of inputDB confuse 'read' functions."
The first two lines of in 'inputDB.csv' have some bytes which cause me problems when trying to read the file.
In *R*, the following error message is printed while trying to run `readr::read_csv("inputDB.csv", skip = 1)`:
[code]

I've attached the first 10 lines of the problematic 'inputDB':
[inputDB-head.zip](https://github.com/timriffe/covid_age/files/5751267/inputDB-head.zip)

On Linux, it looks

[2020-12-29 17:44] timriffe commented on #66
Thanks for reporting, I've reproduced the error and am looking into it, will repost as soon as file is fixed.

[2020-12-29 17:51] timriffe commented on #66
well, the file is corrupted in 13k places, sooooo, looks like I'll recompile the whole inputDB, which takes some hours, please hang in there and refer to earlier versions on OSF if needed.

[2020-12-29 19:28] eshom commented on #66
Alright, thank you for the quick response!

[2020-12-31 08:06] timriffe commented on #66
fixed now: switching `write_lines()` and `write_csv()` to `data.table::fwright()` took care of it. Otherwise mysterious. Thanks again for reporting!

[2020-12-31 08:06] #66 closed

[2021-01-07 09:08] mpascariu opened #68 "Possibly wrong new year assigned in input - Wisconsin case"
Hi @timriffe

I can see this:
[code]

Is it possible that the wrong year is assigned to first 5 recorded days? 2020 instead of 2021?
Note the jump in at line 56, from January to March.

[2021-01-07 09:19] timriffe commented on #68
Thanks @kikeacosta is adjusting the script just now. If you see more let us know. We realized yesterday some scripts (older ones) were hard coded to 2020, shouldn't take long to take care of this.

[2021-01-07 09:48] mpascariu commented on #61
Hi @timriffe,
I can see that most of the data for the states of Iowa, California and Washington disappeared altogether from 07-01-2021 version of the database. Only few weeks of data for each state is left.
Was that done on purpose?

[2021-01-07 11:25] timriffe commented on #61
Thanks for reporting! Not on purpose. I'm investigating these one at a time.

[x] California [changed age codes used, duplicates removed]
[ ] Iowa
[ ] Washington

[2021-01-08 04:17] liuyanguu commented on #32
As I am working on a dashboard that will load the output every day, I am wondering if there are other ways to read the data from OSF besides downloading the zip file using `osfr::osf_download` and then read using `readr`. It is still a little bit slow since it has to be unzipped (and it is indeed a large dataset). Any thought is welcome.

[2021-01-08 07:03] timriffe commented on #32
Hi! No need to unzip those files in order to read with `read_csv()`. But now you have an alternative: There's a new `R` package, which we'll soon adjust our getting started guide to feature:
`https://github.com/eshom/covid-age-data`
This package wraps the `osfr` part under the hood so you don't have to mess with it. There is also a function for out-of-memory reading of subsets into `R`. So for exa

[2021-01-08 10:40] mpascariu commented on #68
Hi @kikeacosta and @timriffe
This issue can still be seen for the state of Oregon, however only for January 4.

[code]

[2021-01-08 10:54] timriffe commented on #68
fixed!

[2021-01-08 10:54] #68 closed

[2021-01-08 11:03] mpascariu commented on #61
California and Washington look good on 08-01-2021, however Iowa data still displays major gaps between June and September.

On December 9 I was able to produce this:
![C19_Cases_dev_Iowa_20201209](https://user-images.githubusercontent.com/6264977/104008213-6de55100-51a9-11eb-8b22-f51246068547.png)

Today I can see this:
![C19_Cases_dev_Iowa_20210108](https://user-images.githubusercontent.com/62649

[2021-01-08 11:19] timriffe commented on #61
Thanks @mpascariu I did a manual roll-back yesterday in Drive, as automatic
captures had been failing for Iowa. Looks like I chose the wrong date. I've
been in contact with the source, who tells me the sheet will be released
again soon. This will completely overwrite the Iowa series, FYI. It could
be a few days before that makes it through. I'll therefore roll back to the
sheet status the day prio

[2021-01-08 11:29] mpascariu commented on #61
ok, great!

[2021-01-08 13:24] mpascariu opened #69 "Multiple data sources create duplicate entries"
Hi @timriffe

For some regions the data is collected from multiple data sources. Sometimes we observe the case that in the final output files for the same region in the same day two different values are recorded. The 2 values can be identical or significantly different.

This is more a conceptual issues, but in my opinion the processed output should contain only 1 record (most credible) for the gi

[2021-01-08 13:25] mpascariu commented on #69
This might or might not be related to the jumps seen in #61

[2021-01-08 13:37] mpascariu commented on #61
The monotonicity issues can be extended at the country level for the entire database not only for the US regions. This issue has been spotted in various countries.

But maybe a new issue should be open for this (?)

[2021-01-08 13:40] timriffe commented on #69
not related to #61

[2021-01-08 13:44] mpascariu commented on #69
Regarding #61, i said that because if one does the plot the way i did it most certainly will see some jumps if data comes from multiple sources.

[2021-01-08 13:53] timriffe commented on #69
fair.

We'll consider this, and act on it soon. It's likely we'll conclude to keep
everything in the `inputDB` and to have a single location-date combination
in the output. Will note here how it turns out.

Indeed for many US states we get deaths from both the state and the US CDC.
I do not know which to prefer for these cases.
For ECDC I think we should prefer national sources where available, do

[2021-01-08 14:01] mpascariu commented on #69
I think the country experts are most qualified to offer guidance regarding the credibility of the data sources. As a general idea, I would go with the source that is most consistent over time and offers the longest time series.

[2021-01-08 15:04] liuyanguu commented on #32
This is very helpful! Neat package. Thank you.

[2021-01-31 05:10] liuyanguu opened #73 "A question on presenting data by time --- is the database built cumulatively?"
Thanks again for the great work. I wish to double-check a question:
If I want to show how is the situation in, for example, last October, could I just filter the latest dataset by `Date`?
I assume the database is built cumulatively: so whenever there is an update in a country, the new data is appended to the old one. Is this roughly the case?
Many thanks!

[2021-01-31 06:25] timriffe commented on #73
yes, series are cumulative at this time. We do aim to offer decumulated series in the future, but this will require implementing more kinds of harmonization that we haven't got to yet. Anyway, yes, just pick out the date you need and you can consider it a snapshot. If things aren't as you expect, please report. Thank you!

[2021-01-31 06:25] #73 closed

[2021-01-31 11:13] liuyanguu commented on #73
Thank you for your quick reply!

[2021-02-01 17:45] timriffe opened #75 "reformat output"
- [ ] make `Code` is just the short code portion.
- [ ] change `Sex = "b"` to `"t"` everywhere
- [ ] output in isoweeks
- [ ] exclude duplicate sources: unique source per population / measure
- [ ] Tests in different file out of main output.

[2021-02-08 21:39] timriffe commented on #69
This should now be implemented for the recent daily builds, and moving forward, so I'm closing this issue.

[2021-02-08 21:39] #69 closed

[2021-02-10 15:20] liuyanguu opened #82 "USA all-region cases seems to be 0 in the output dataset?"
I just refreshed the data, and it seems the cases for USA become 0?

[code]
Cases
   0
3633

The numbers exist last week in the earlier versions of the database.

[2021-02-10 22:42] timriffe commented on #82
Thank you for reporting @liuyanguu we will investigate this Thursday and resolve ASAP

[2021-02-13 22:04] timriffe commented on #82
ASAP turned out to be longer than expected, there was a deeper issue at core in keeping our processing pipeline up with the size of the database. Production code should be sorted out now, and has begun a new run, which will ideally end up on osf in less than 10 hours. Crossing fingers.

[2021-02-14 17:57] timriffe commented on #82
This seems to be fixed now, so I'm closing this issue, thanks again for your early report!

[2021-02-14 17:57] #82 closed

[2021-02-14 19:45] #4 closed

[2021-02-14 19:50] timriffe commented on #41
Cases and Tests are updated into January 6 and Deaths through Feb 4th at this time, so I'm closing the issue for now. There are some aspects of the French series that I think are worthy of further consideration, but the collectors are already aware of these things, so it's not part of this issue

[2021-02-14 19:50] #41 closed

[2021-02-15 03:58] liuyanguu commented on #82
Great! Many thanks for your quick response!!

[2021-02-17 18:30] mpascariu opened #85 "Datasource for Israel C19 info"
Hi @timriffe,
Currently for Israel little or no info is collected in the database except for number of new cases.
I would like to suggest a data source that might or might not be known to you: https://data.gov.il/dataset/covid-19

The website is in Hebrew, however  I was able to navigate it in Chrome with auto translation.

One can find there details about weekly death and tests and more. One draw

[2021-02-17 18:38] mpascariu commented on #85
For convenience I am attaching here last available data as of today.

[ISR_corona_age_and_gender_ver_0073_2021-02-16.zip](https://github.com/timriffe/covid_age/files/5997846/ISR_corona_age_and_gender_ver_0073_2021-02-16.zip)

[2021-02-17 18:52] timriffe commented on #85
@eshom punting to you on this one

[2021-02-18 08:52] eshom commented on #85
Thank you Marius for bringing this to our attention.

This is in fact the source we have been using all along. Both cases and tests are regularly updated. Death counts are unfortunately not reported cumulatively, and as you have noticed records below 15 are not provided with exact figures.

We have managed to manually collect complete death counts by age and sex using the following dashboard (in H

[2021-02-18 09:04] mpascariu commented on #85
Hi @eshom.

The dashboard is great! I am very happy to hear the good news from you.
And yes, I've noticed the limitations of the data.

Thanks for your work ✌

[2021-02-22 13:31] eshom commented on #85
@timriffe I've just uploaded Israel's daily vaccincation data to the database.
The cleaning tracker complains the measures "Vaccination1" and "Vaccincation2" aren't valid, but otherwise it doesn't seem like there are any other issues.

Could we get these measures added?

[2021-02-22 15:15] timriffe commented on #85
Thanks @eshom we aim to roll vaccination data out in a new output file,
ideally by the end of this week. Will ping back here when it goes live.

Best,
TIm

On Mon, Feb 22, 2021 at 2:32 PM Erez Shomron <notifications@github.com>
wrote:

[2021-03-08 19:05] liuyanguu opened #97 "France all-region cases seem to lost (mostly)"
[code]
gives 5700.1.
On last Monday (3/1) the number was 2.8 million
(`Date == "21.02.2021"` is the latest date with data available)

This is comparing the "Output_5" datasets I downloaded on 3/8 (column `COVerAGE-DB`) to the 3/1 one (column `COVerAGE-DB_old`), but this issue emerged since the 3/3 dataset.
<img src="https://user-images.githubusercontent.com/11966330/110366987-16caf380-8015-11eb-82

[2021-03-08 21:24] timriffe commented on #97
Many many thanks for reporting. I'm investigating France first. It was updated today, and I don't see the problem immediately in the input data. Cases and Tests only come up to 1 Feb, 2021. Total Cases will be 3104045 on that date when it is done processing tomorrow. I've asked the maintainer whether there's anything to add. I suspect that these discrepancies may occur when our ECDC collection get

[2021-03-10 10:43] Flasskamp opened #98 "UK Case datasource"
Hello @timriffe,

I have noticed that your dataset does not include any case data for the UK and I could not find any topics on why. Hence, I wanted to suggest a data source. At [ official UK Government website for data and insights on Coronavirus](https://coronavirus.data.gov.uk/details/download) there is detailed data by region and 5-year age groups. They also offer permanent download links. For

[2021-03-10 10:57] timriffe commented on #98
Thanks @Flasskamp , forwarding this to @jessicadonzowa and @fcorowe , who will be more on top of the details here. Will do our best to integrate these data. Quite possibly it's already in the works.

[2021-03-10 11:13] fcorowe commented on #98
Thanks @Flasskamp - and yes, now the case data by age are available via API and I have added them to the list for the next update of the UK data. The data were not available when we started the data capture. We requested them to the data holders who positively responded to our enquiry and they are now available.

If you are only interested in the UK data, please have a look at a [repo](https://git

[2021-03-10 13:42] Flasskamp commented on #98
Thank you @fcorowe  and @timriffe for the quick responses and the link to your repo. I am currently calculating modified CFRs for a selection of countries, so the scope goes a bit further. For now, I will manually merge the datasets.

[2021-03-13 03:50] liuyanguu commented on #97
Many thanks Tim! Now the cases are fixed but the deaths are wrong for France and Portugal (Date `05.03.2021`)
[code]
gives 67422341

[2021-03-16 09:36] timriffe commented on #97
Thanks again, found the problem with France, and it will be fixed in the next update. Apologies for the delay!

[2021-03-19 02:09] liuyanguu commented on #97
There is no hurry, but just curious when will the next update be? I just run the same code above and got the same (incorrect) results.

[2021-03-21 08:48] timriffe commented on #97
Hi apologies for this, it's been fixed at the source, but hasn't yet escalated through the processing chain. We're behind on processing due to changes in production, but hope to be back to daily updates in the next day or two. Sorry for this annoyance.

[2021-03-29 11:39] liuyanguu commented on #97
The issue is fixed. Many thanks!

[2021-03-29 11:39] #97 closed

[2021-03-30 08:45] eshom commented on #85
I'm glad to see vaccination data is now available for the public to download!
We have on its way more complete case and death count data downloaded from the dashboard once we automate the wrangling process.

[2021-03-30 08:52] timriffe commented on #85
Hi @eshom For now, the vaccination data is just coming through into the
`inputDB`, but we never did figure out how best to age harmonize it, given
the time-varying age bands (and exceptions to age restrictions). We hope
the age structured vaccination data is still useful in its unharmonized age
groups. Any suggestions on how to deal with this most welcome.
Tagging @jessicadonzowa

On Tue, Mar 30,

[2021-04-13 13:53] liuyanguu opened #108 "Some countries were in the database before are no longer there"
Compare `Output_5` to last week, it seems 8 countries were lost:

`"Croatia"` only misses Region == "All" while the rest 7 `c("Cyprus", "Lithuania", "Luxembourg", "Latvia", "Malta", "Poland", "Slovakia")` are no longer there.

[code]

[2021-04-13 15:05] timriffe commented on #108
Apologies this came without warning. This is due to dropping the ECDC dashboard source, which had some erratic and incomplete data, and was subject to too-frequent formatting changes to, making it difficult for our scrapers. There might be some useable data in prior database versions for those seven countries, but we judged the series to be too erratic. This could owe in part to being based on sub

[2021-04-13 16:41] liuyanguu commented on #108
Many thanks @timriffe for your quick reply! well noted.

[2021-04-15 10:48] timriffe opened #109 "sex aggregation with non-congruent age groups"
There are cases, such as Slovenia, where age grouping (for deaths in this case) is done on the fly to make adjacent 0s into one age group. For example age 0-34 = 0 for one sex and age 0-44 for the other sex. In this case, aggregation to `b` doesn't work properly in step 2. The function `infer_both_sex()` should be modified to detect and handle this situation. Leaving this here as a TO-DO. @kikeaco

[2021-07-06 09:51] GBarnsley opened #116 "High number of deaths for ages 0-5 in the United Kingdom"
The data (in Output_5) shows a very high number of deaths from covid for ages 0-5 in the UK data set, higher than any other age group. This isn't present, as far as I can see, in the England, England and Wales, Scotland, and Northern Ireland data. A jump in deaths seems to occur at the start of 2021, so this might be to do with swapping to the 2021 ONS dataset?

[2021-07-06 14:25] timriffe commented on #116
Thanks @GBarnsley we will investigate this rupture, much appreciated. I've forwarded the question to the curator of our UK series, and will reach out to others if needed. Best wishes

[2021-07-21 07:40] Chaserrya opened #118 "UK death data"
Hello @timriffe,
I've noticed that there's some abnormal data in death data of United Kingdom. As a cumulative death data, using age 80 data as example, it's 34500.8 on 2021.01.01 but 9721.2 on 2021.01.08. I'm wondering how's that happended. I've compared with the data sourse of UK you provided, and it seems fine in the data source. Could you provide any possible explaination of that. Thank you so

[2021-08-04 14:07] liuyanguu opened #121 "Will there be any update for India?"
The data for India was updated in 2020-10, just curious if there will be an update for India? (I understand it is not easy...)
Many thanks!

[2021-08-07 20:45] fcorowe commented on #118
Hi @Chaserrya, Sorry that it took me this long to get back to you, and thanks for flagging this issue. It seems that at some point the ONS reported the data slightly different and the code used to process the data has not reflect that change. I have updated the code and checked the data. It looks all good to me. I will close the issue for now, but feel free to open a new one if you notice similar

[2021-08-07 20:47] fcorowe commented on #118
@timriffe just realised I can't close the issue as I am not a collaborator on the repo.

[2021-08-07 20:50] fcorowe commented on #116
Hi @GBarnsley, Sorry that it has taken me this long to inspect this issue and get back to you. You are correct. It seems that there is a slight variation as to how the ONS reports the 2021 data and that change had not been reflected in the code used to process the data. I have updated the code and checked the data. It looks all good to me. I will close the issue for now, but feel free to open a ne

[2021-08-07 20:50] fcorowe commented on #116
@timriffe can you close this issue please.

[2021-08-07 20:51] #116 closed

[2021-08-07 20:52] timriffe commented on #116
Thanks @fcorowe !
@GBarnsley this update will make its way into the output files in 1-2 days I expect.

[2021-08-07 20:53] timriffe commented on #118
@Chaserrya this update should make it to the output files in 1-2 days I expect. Thanks @fcorowe !

[2021-08-07 20:53] #118 closed

[2021-08-08 01:31] Chaserrya commented on #118
That's great! Thank you!

[2021-08-09 15:48] LloydChapman opened #122 "Extra columns in inputDB"
Thanks for compiling such a great resource!
There appear to be extra columns `y` and `2499` in `inputDB`, such that it has 13 columns rather than 11:
[code]
This seems to cause downloading and reading in with `covidAgeData` to fail:
[code]
Sorry, I haven't been able to look at the source code to see what might be causing this.

[2021-09-04 01:41] liuyanguu opened #123 "Time series of cumulative count could have bumps, and not always increasing"
I just realized this interesting issue since my colleagues were asking for time series of cases/deaths from the database. Because the database was built in an accumulative way, it is possible to get time series for some countries that (luckily) have frequently data updates.

This is not common as data for most countries are quite consistent. But happened in several countries like the deaths of Ind

[2021-09-04 10:25] timriffe commented on #123
Thanks @liuyanguu for reporting. It would seem some of these artifacts have different causes, a mix of inconsistent sources, and surely a few manual data entry errors (Jordan).  To pick out the manual entry errors, jumps in daily fractions where one age pops in the opposite direction of the others serves as a good indicator. If there is a daily spike but no change in age-specific fractions, then i

[2021-10-01 11:02] liuyanguu opened #124 "Spain all-region cases and deaths have lost a lot"
Comparing to the database on Sep.1, there seems to be an issue with Spain.

![image](https://user-images.githubusercontent.com/11966330/135609390-906c44c3-0973-4691-b5f0-7ca30eea5aa1.png)

[code]
Many thanks

[2021-11-01 02:29] liuyanguu commented on #124
Data are back to right.

[2021-11-01 02:29] #124 closed

[2021-11-21 20:17] eshom opened #128 "Israel death counts collection automation"
Hi everyone,

Thought I'd ask for help here. I've finally been working on automating the collection of death counts on Israel's side.

Now, the only way to get complete death counts currently is by manually downloading cumulative counts from the following dashboard (In Hebrew): https://datadashboard.health.gov.il/COVID-19/general

If you go on that website and click the following download button:

[2021-12-26 18:22] eshom commented on #128
The dashboard web framework was updated, completely breaking what automation efforts I had.

[2021-12-27 05:47] eshom commented on #128
After some debugging figured out that the data you download is generated during runtime in the function `downloadToExcelArray`.
So it's a good starting point for investigating how to automate this.

[2022-02-14 13:44] timriffe commented on #108
Heads up, we're undergoing structural changes in the DB and have a list of changes to make. For this reason many countries were omitted from the most recent update. We are working hard to make the necessary changes to get all series published again. Very sorry for this inconvenience.

[2022-02-14 15:57] liuyanguu commented on #108
Many thanks for the heads up. Our dashboard only updates on the first day of each month (so updated once per month) so I don't think it's a problem but will pay attention.

[2022-03-31 02:07] liuyanguu opened #141 "Cases for USA is lost"
[code]
![image](https://user-images.githubusercontent.com/11966330/160961867-54b5c8dd-cccd-445e-a89a-6ddc678ede7d.png)

[2022-03-31 17:40] liuyanguu commented on #141
Many thanks for the quick reply! Looks good now.
When I actually filter the date I melt "Cases" and "Deaths" into "Measure" first and then filter max date by measure so it's not a problem. But many thanks for the heads-up!

[2022-03-31 17:40] #141 closed

[2022-04-02 02:21] liuyanguu opened #142 "error when downloading data"
Sorry it's me again.
[code]
gets
Error: The requested file (7tnfh) could not be found in node `mpwjq`
Same for "Output_10"
Any quick suggestions?

[2022-04-22 09:17] eshom commented on #142
@liuyanguu Sorry for not responding quicker!

I've only came to know about this when an issue opened in my repo eshom/covid-age-data#5

I fixed the problem by changing to the long id format OSF uses, so this can be closed.

[2022-04-22 09:30] eshom opened #143 "Update documentation for qualityMetrics and offset.csv"
Hi!

Knowing the format of datasets is important in order to be able to correctly read them, of course.
There is datasets information here: https://timriffe.github.io/covid_age/GettingStarted.html

But it's outdated on two accounts:
1. A relatively new dataset `offsets.csv` is missing from the list.
2. `qualityMetrics.zip` doesn't have 18 columns anymore, but 23, what are their types?

Is it possi

[2022-04-22 15:14] liuyanguu commented on #142
No problem! Many thanks for solving the issue. I just download the data from OSF as an alternative so not a problem. But good it's fixed now.

[2022-04-22 15:14] #142 closed

[2022-05-09 13:47] bernadette-eu opened #145 "Non-integer values for cases & deaths"
Hello,

I am interested in extracting mortality and incidence data for various European countries, for further analysis. I have noticed that the daily numbers for these metrics and be non-integer values.

What is the explanation for that? I provide my code for the case of Germany, with 10 year age groups.

Thanks,
Lampros

[code]

![2022-05-09_16h40_05](https://user-images.githubusercontent.com/84

[2022-05-09 14:02] timriffe commented on #145
Hi @bernadette-eu , when you see decimals, it means that the values represent estimates rather than reported values, which are usually integers. Estimates are always constrained to reported totals. Estimates arise whenever we need to harmonize age groups, for example. This is the case for Germany, which reports data in age groups wider than 10 years, and is likely the only explanation for your exa

[2022-05-10 11:41] timriffe commented on #143
Thanks, and apologies for the late reply- I've updated the getting started guide to account for these changes. `offsets.csv` was there from the start, but we never considered it an output because we use it instrumentally only. But I've added it anyway. The columns for offsets are subject to change, as I need to add a `Code` variable for better joining to the main data. Also I'll change the order a

[2022-05-10 11:49] timriffe commented on #128
This looks like a job for `rselenium`, or `selenium` straight in Python. I'll see if one of our student assistants can take a look at it.

[2022-05-10 11:53] timriffe commented on #128
I've linked to this post to see if someone claims it. If not, then you and I should set up a call so you can show me what's going on and maybe we can hack through it somehow.

[2022-05-10 11:55] timriffe commented on #122
Sorry I didn't respond to this earlier. We did some major robustness and cleanliness overhauls a few months ago that took care of this and other problems. I hope everything is all good now, but please do comment again if something pops up

[2022-05-10 11:55] #122 closed

[2022-05-10 11:56] timriffe commented on #121
Not unless we can locate a new data source, so far no leads, but if anyone sees this and knows of a source, please post here!

[2022-09-06 17:34] liuyanguu opened #161 "Issue with South Korea cases"
Please kindly notice the age distribution for the South Korea cases doesn't look right. The case numbers cluster in the old age groups.
![image](https://user-images.githubusercontent.com/11966330/188701163-64631d6c-9ac6-4cd6-8e24-59724381be0e.png)

[code]

[2022-09-07 07:43] timriffe commented on #161
Thanks for reporting, will investigate asap!

[2022-09-16 10:25] timriffe commented on #161
an update on this: there was a processing issue on our side between march and September 2022, and we've had to delete those dates (not yet reflected in OSF). Since we failed to capture snapshots of the original HTML tables we are going to try to request a special data extract from the data provider in South Korea. We do not know if this will work. The wayback machine only has ca 3 snapshots of the

[2022-10-31 01:37] liuyanguu commented on #161
May I have a quick question: (I understand people are gradually getting less interested in COVID now) How often do we plan to update the datasets on OSF? There seems to be no more update after August:

![image](https://user-images.githubusercontent.com/11966330/198913957-a9d69cd6-7648-4f38-81f3-24267dd7306f.png)

And do we plan to update the database forever or will it stop at some point...?

[2022-11-04 08:30] timriffe commented on #161
Hi @liuyanguu We will now aim for monthly updates on OSF, but you can get more frequent updates from the [new website](https://www.coverage-db.org/) which now has dates through Oct 26, 2022. However, OSF is the only place allowing a bulk download of the entire DB. Since you're only using national data, I think you could download it from the website, since that won't be too big. We're pretty close

[2022-11-04 08:31] timriffe commented on #161
@manalkamal can you chime in here regarding the initial issue on Korea data? We may be able to close this issue now.

[2022-11-04 09:27] timriffe commented on #161
@liuyanguu I've located a piece of test code for downloading from the API. Here's an example that downloads deaths and cases in 5-year age groups for national populations only and from1 January 2020 until 26 October 2022. If you set the last date to `lubridate::today()` then that'll work too. The parameters are

- `dho` (original data) 0 or 1
- `dh5` (harmonized 5 year age groups) 0 or 1
- `dh10`

[2022-11-04 10:08] manalkamal commented on #161
Hello @timriffe  & @liuyanguu ,

Yes, the initial problem is resolved. the data are good now.

[2022-11-04 10:11] #161 closed